h1,
h2 {
  margin: 0;
  padding: 10px;
  background-color: rgb(131, 196, 131);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 15px;
}

input {
  width: 400px;
  border: solid 2px;
  border-style: groove;
  border-color: yellowgreen;
  border-radius: 10px;
  font-family: Courier;
}

button {
  border-style: hidden;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.container {
  width: 800px;
  border: solid 2px yellowgreen;
  border-radius: 10px;
}

.row {
  margin: 20px;
}

.salva,
.edita {
  background-color: royalblue;
}

.limpa,
.exclui {
  background-color: rgb(219, 6, 6);
}

table {
  border: hidden;
  font-size: 18px;
  width: 750px;
}

td,
tr,
th {
  border: hidden;
  font-family: 'Times New Roman', Times, serif;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

#idade,
label {
  width: 100px;
}

.listagem {
  border-radius: 15px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background-color: rgb(131, 196, 131);
}

.tabela-linha1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(131, 196, 131);
}